/* General Styling */
body {
   font-family: 'Arial', sans-serif;
   background-color: rgb(131, 69, 18);
   text-align: center;
}


header {
   background-color: burlywood;
   color: #eef;
}


h1{
   color: white;
   font-style: bold;
}


.bold {
   color: white;
   font-weight:700;
}


/* Navigation */
nav ul {
   list-style: none;
   padding: 0;
   color: white;
}
nav ul li {
   display: inline-block;
   margin: 10px;
}
nav ul li a {
   text-decoration: none;
   color:aliceblue;
   font-weight: bold;
   transition: color 0.3s ease-in-out;
}
nav ul li a:hover {
   color: #9f7a00;
}


/* Hero Section */
.hero {
   position: relative;
   text-align: center;
   padding: 20px;
}
.hero img {
   width: 58%;
   transition: transform 0.3s ease-in-out, opacity 0.3s;
}
.hero img:hover {
   transform: scale(1.05);
   opacity: 0.9;
}


/* Hidden Content Reveal */
.hidden-content {
   display: none;
   background: burlywood;
   color: white;
   padding: 10px;
   margin-top: 10px;
   border-radius: 5px;
}
.hero:hover .hidden-content {
   display: block;
   transition: opacity 0.5s ease-in-out;
}


/* footer */
footer a {
   color: aliceblue;
}
